{% extends 'MonQcmBundle::layout.html.twig' %}

 {% block page_header %}
     <div class="page-header">
         <h1>{% block headline %}Login to access MCQs{% endblock headline %}</h1>
     </div>
 {% endblock page_header %}

{% block content %}
    <div class="col-md-9">
        <form action="{{ path('mon_qcm_security_check') }}" class="form-horizontal" method="post">
            {% if error is not empty %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <div class="form-group">
                <label for="_username" class="col-sm-2 control-label">Username :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="_username" id="_username" />
                </div>
            </div>

            <div class="form-group">
                <label for="_password" class="col-sm-2 control-label">Password :</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="_password" id="_password" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Login</button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}