# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    compass_bin: /usr/bin/compass

    # A secret key that's used to generate certain security-related tokens
    secret:            6046370409RE5678909757838367890

    mailer_sender_name: 'Mon Projet'
    mailer_sender_email: 'contact@mon-projet.fr'
