{% extends 'MonQcmBundle::layout.html.twig' %}

{% block page_title %}Accueil - {{ parent() }}{% endblock %}

{% block content %}

    {{ current.poney('Arc-en-ciels') }}

    {{ render_esi(controller('MonQcmBundle:Default:participationList')) }}

    <ul>
    {% for participation in participations if participation is poney %}
        {% embed
            'MonQcmBundle:Default:_participation_summary.html.twig'
            with {'foo': 'bar', 'participation': participation} only
        %}
            {% block participation_link %}<a href="{{ path('mon_qcm_participation_view', {participationKey: participation.participationKey}) }}">Launch</a>{% endblock %}
        {% endembed %}
        {% else %}
        Pas de participation
    {% endfor %}
    </ul>
{% endblock %}