<tr class="collection-item">
    <td>{{ form_widget(form.answer) }}</td>
    <td>{{ form_widget(form.isCorrect) }}</td>
    <td>
        <a class="btn btn-default" data-collection-remove-btn=".{{ form.vars.id }}_form_group">
            remove_item
        </a>
    </td>
</tr>